<a href="https://colab.research.google.com/github/SihyunPark01/Colab/blob/main/Ch02.%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%20/%2010_%EB%9E%9C%EB%8D%A4%ED%8F%AC%EB%A0%88%EC%8A%A4%ED%8A%B8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
"""
날짜 : 21/10/20
이름 : 박시현
내용 : 랜덤포레스트(random forest) 실습하기
"""

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import tree, metrics
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
# 데이터셋 확인
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [5]:
# 데이터 불러오기
df_iris = sns.load_dataset('iris')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# 학습데이터
iris_train_data = df_iris.iloc[:, 0:4]
iris_train_label = df_iris.iloc[:, 4]
iris_train_label

train_data, test_data, train_label, test_label = train_test_split(iris_train_data, iris_train_label)
train_data

     sepal_length  sepal_width  petal_length  petal_width
90            5.5          2.6           4.4          1.2
144           6.7          3.3           5.7          2.5
58            6.6          2.9           4.6          1.3
76            6.8          2.8           4.8          1.4
118           7.7          2.6           6.9          2.3
..            ...          ...           ...          ...
19            5.1          3.8           1.5          0.3
123           6.3          2.7           4.9          1.8
99            5.7          2.8           4.1          1.3
119           6.0          2.2           5.0          1.5
116           6.5          3.0           5.5          1.8

[112 rows x 4 columns]

In [8]:
# 학습하기
model = RandomForestClassifier()
model.fit(train_data, train_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [9]:
# 테스트하기
result = model.predict(test_data)

In [11]:
# 성능평가
score = metrics.accuracy_score(result, test_label)
score

0.9473684210526315

In [13]:
# 데이터 불러오기
df_pima = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/file/pima-indians-diabetes.csv')
df_pima

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [14]:
# 학습데이터
pima_data = df_pima.iloc[:,0:8]
pima_label = df_pima.iloc[:,8]
pima_data

train_data, test_data, train_label, test_label = train_test_split(pima_data, pima_label)
train_data

      6  148  72  35    0  33.6  0.627  50
534   4  132   0   0    0  32.9  0.302  23
471   0  119  66  27    0  38.8  0.259  22
639   0  102  86  17  105  29.3  0.695  27
747   3  187  70  22  200  36.4  0.408  36
722   5  117  86  30  105  39.1  0.251  42
..   ..  ...  ..  ..  ...   ...    ...  ..
575   6  108  44  20  130  24.0  0.813  35
635   5  104  74   0    0  28.8  0.153  48
23   11  143  94  33  146  36.6  0.254  51
563   0   91  80   0    0  32.4  0.601  27
518   6  129  90   7  326  19.6  0.582  60

[575 rows x 8 columns]

In [16]:
# 학습하기
model=RandomForestClassifier()
model.fit(pima_data, pima_label)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [17]:
# 테스트하기
result1 = model.predict(pima_data)

In [18]:
# 성능평가
score = metrics.accuracy_score(result1, pima_label)
score

1.0